Writen by: Nabeel Ahmad\
date: 17/12/2023\

In [2]:
import pandas as pd
import openpyxl

In [18]:
df=pd.read_excel('data.xlsx') #read excel file
df.head()

  height weight       fav_dish
0    5.8    101  Chicken Pulao
1    6.2     92        Biryani
2    5.9     62  Karahi Ghosht
3    5.9     95  Chicken Pulao
4    5.9     55  Chicken Pulao

In [19]:
df.describe

<bound method NDFrame.describe of    height weight       fav_dish
0     5.8    101  Chicken Pulao
1     6.2     92        Biryani
2     5.9     62  Karahi Ghosht
3     5.9     95  Chicken Pulao
4     5.9     55  Chicken Pulao
..    ...    ...            ...
82    5.4     55          Pasta
83    5.9     75  Karahi Ghosht
84    5.4     61        Biryani
85    6.2     68  Chicken Pulao
86    5.1     96        Biryani

[87 rows x 3 columns]>

In [20]:
df.shape

(87, 3)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   height    87 non-null     object
 1   weight    87 non-null     object
 2   fav_dish  87 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB

In [22]:
# change data type from onject to numeric
df['height']=pd.to_numeric(df['height'],errors='coerce')
df['weight']=pd.to_numeric(df['weight'],errors='coerce')

In [29]:
df['weight']=pd.to_numeric(df['weight'],errors='coerce').fillna(0).astype('int64')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   height    85 non-null     float64
 1   weight    87 non-null     int64
 2   fav_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [31]:
df.sort_index(axis=0,ascending=False)

    height  weight       fav_dish
86     5.1      96        Biryani
85     6.2      68  Chicken Pulao
84     5.4      61        Biryani
83     5.9      75  Karahi Ghosht
82     5.4      55          Pasta
..     ...     ...            ...
4      5.9      55  Chicken Pulao
3      5.9      95  Chicken Pulao
2      5.9      62  Karahi Ghosht
1      6.2      92        Biryani
0      5.8     101  Chicken Pulao

[87 rows x 3 columns]

In [32]:
df.sort_values(by='height',ascending=True)

    height  weight       fav_dish
40     5.0      50  Chicken Pulao
35     5.0      31        Biryani
26     5.0      25        Biryani
15     5.0      57        Biryani
38     5.1      61    Chapel Kaba
..     ...     ...            ...
43    59.0      64        Biryani
45   167.0      60    Chapel Kaba
65   178.0      70        Biryani
73     NaN      78        Biryani
75     NaN     125    Chapel Kaba

[87 rows x 3 columns]